/* BOTON DARK MODE*/
.dark-theme-btn {
    background-color: rgb(136, 192, 189);
    color: rgb(255, 255, 0);
    border: none;
    font-size: 1.7em;
    cursor: pointer;
}

/* DARK MODE */
.dark-mode {
    background-color: #201e1e;
    color: #DDDDDD;
}

.dark-mode .contenedor__navegacion.activo {
    background-color: #201e1e;
}
.dark-mode .contenedor__navegacion {
    background-color: #201e1e;
}
.dark-mode .hamburger-inner {
    background-color: rgba(69, 85, 255, 0.865) !important;
}

.dark-mode .hamburger-inner:after {
    background-color: rgba(69, 85, 255, 0.865) !important;
}
.dark-mode small {
    color: rgba(69, 85, 255, 0.865);
}
.dark-mode .h2__input {
    color: rgba(69, 85, 255, 0.865);
}
.dark-mode .hamburger-inner:before {
    background-color: rgba(69, 85, 255, 0.865) !important;
}

.dark-mode .dark-theme-btn {
    background-color: #201e1e;
}

.dark-mode .contenedor__fondo--presentacion {
    background: radial-gradient(#201e1e, #01a4ff00);
}

.dark-mode a {
    color: rgba(69, 85, 255, 0.865);
}
.dark-mode .texto__presentacion--pdf {
    color: #201e1e;
}
.dark-mode .texto__presentacion {
    color: rgba(69, 85, 255, 0.865);
}

.dark-mode .texto__presentacion--pdf:hover {
    color: rgba(69, 85, 255, 0.865);
}
.dark-mode .contenedor__header {
    background-color: #201e1e;
    
}

.dark-mode .contenedor__skills-h1 {
    color: rgba(69, 85, 255, 0.865);
    background-color: #201e1e;
}

.dark-mode .contenedor__proyecto--div {
    background-color: #201e1e;
}

.dark-mode .contenedor__form--h2 {
    background-color: #201e1e;
    color: rgba(69, 85, 255, 0.865);
}

.dark-mode .contenedor__proyectos--h2 {
    color: rgba(69, 85, 255, 0.865);
    background-color: #201e1e;

}
.dark-mode p {
    color: rgba(69, 85, 255, 0.865);
}
.dark-mode .footer__ul {
    background-color: #201e1e;
}

.dark-mode .iconosfooter {
    color: rgba(69, 85, 255, 0.865);

}
