/* BOTON DARK MODE*/


/* DARK MODE */
.light-mode {
    background-color: #201e1e, 89%;
    color: #DDDDDD;
}

.light-mode .boton__div {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color:  rgb(255, 153, 0);
    cursor: pointer;
    width: 49%;
    border: 1px rgb(255, 153, 0) solid;
    border-radius: 7px;
}
.light-mode li{
    color: rgba(0, 0, 0, 0.865);;
}
.light-mode .contenedor__navegacion.activo {
    background-color: rgb(136, 192, 189);
}
.light-mode .contenedor__navegacion {
    background-color: rgb(136, 192, 189);
}
.light-mode .hamburger-inner {
    background-color: rgb(136, 192, 189) !important;
}

.light-mode .hamburger-inner:after {
    background-color: rgb(136, 192, 189) !important;
}
.light-mode small {
    color: rgb(136, 192, 189);
}
.light-mode .h2__input {
    color: rgb(136, 192, 189);
}
.light-mode .hamburger-inner:before {
    background-color: rgb(136, 192, 189) !important;
} 

.light-mode .dark-theme-btn {
    background-color: rgb(136, 192, 189);
}

.light-mode .contenedor__fondo--presentacion {
    padding-top: 8em;
    color: #dddddd;
    position: absolute;
    z-index: 2;
}

.light-mode a {
    color: rgba(0, 0, 0, 0.865);
}
.light-mode .texto__presentacion--pdf {
    background-color: rgb(255 153 0);
    color: #201e1e;
}
.light-mode .texto__presentacion {
    color: rgb(255 153 0);
}

.light-mode .texto__presentacion--pdf:hover {
    background-color: #201e1e;
    color: rgb(255 153 0);
}
.light-mode .contenedor__header {
    background-color: rgb(136, 192, 189);
    
}

.light-mode .contenedor__lenguajes{
    background-color: rgb(136, 192, 189);
    color: rgba(0, 0, 0, 0.865);
}

.light-mode .contenedor__skills-h1 {
    color: rgba(0, 0, 0, 0.865);
    background-color: rgb(136, 192, 189);
}

.light-mode .contenedor__proyecto--div {
    background-color: rgb(136, 192, 189) !important;
}

.light-mode .contenedor__form--h2 {
    background-color: #201e1e;
    color: rgb(136, 192, 189);;
}

.light-mode .contenedor__proyectos--h2 {
    color: rgba(0, 0, 0, 0.865);
    background-color: rgb(136, 192, 189);

}
.light-mode p {
    color: rgba(0, 0, 0, 0.865);
}
.light-mode .footer__ul {
    background-color: rgb(136, 192, 189);
}

.light-mode .iconosfooter {
    color: rgba(0, 0, 0, 0.865);

}
